body{
  background-color: #222828;
  padding: 3%;
}

details{
  cursor: pointer;
}

.inicio{
  color: white;
  text-align: center;
  margin-bottom: 1%;
 

}

.linea-prin{
  width: 30%;
  height: 2px;
  margin-bottom: 1px;
  border-style: none;
  background: rgb(167,127,194);
background: linear-gradient(90deg, rgba(167,127,194,1) 0%, rgba(64,154,185,1) 13%, rgba(82,152,109,1) 24%, rgba(29,253,32,1) 29%, rgba(58,152,190,1) 55%, rgba(85,174,64,1) 69%, rgba(213,93,93,1) 84%, rgba(129,112,89,1) 100%, rgba(59,139,212,0.9836309523809523) 100%, rgba(125,154,181,1) 100%, rgba(59,139,212,1) 109%, rgba(59,139,212,0.9836309523809523) 127%, rgba(59,139,212,0.9836309523809523) 131%, rgba(59,139,212,0.9836309523809523) 133%, rgba(59,139,212,0.9836309523809523) 164%, rgba(59,139,212,1) 196%, rgba(59,139,212,0.9836309523809523) 200%);
}

.inicio-p{
  color: white;
  font-style: italic;

}

.menu1{
  width: 5%;
  position: relative;
  left: 92%;
 
}

.x{
  width: 4%;
  position: relative;
  left: 92%;
}

#encabezado{
  background-color: rgb(5, 5, 5);
  padding: 5%;
  width: 100%;
  
}

.detalles{
  display: flex;
  justify-content: end;
}

.p2{
  font-style: italic;
  color: white;
 text-align: left; 


}

p{
  font-style: italic;
  font-size: x-large;
}

.img-principio{
  width: 7.1%;
  height: 7.1%;
 
  
}
.box{
 
  justify-content: center;
  align-items: center;
}

.titulo-imagen1{
  display: flex;
  align-items: center;
  justify-content: center;
}

#h1-1{
  margin-top: 1.5px;
}

.linea-inicio{
  width: 30%;
  height: 2px;
  margin-bottom: 1px;
  color:white;
  background: white;

}

.img-primera{
  display: flex;
  justify-content: flex-end;
  
}

.principio{
  background-color: #C3CACA;
  padding: 2%;
}
  
.img1{
  width: 60%;
  height: 30%;
  border-radius: 15%;
}

.aristoteles{
  width: 60%;
  height: 50%;
  border-radius: 45%;
}

.napoleon{
  width: 60%;
  height: 50%;
  border-radius: 40%;
}

.platon{
  width: 60%;
  height: 40%;
  border-radius: 40%;
}

.caja1{
  text-align: center;
}

.lin1 {
  width: 55%;
  background: black;
  height: 2px;
  margin-bottom: 1px;
}

.lin2{
  width: 35%;
  background: black;
  height: 2px;
  margin-bottom: 1px;
  margin-top: 7%;
}

.lin3{
  width: 69%;
  background: black;
  height: 2px;
  margin-bottom: 1px;
  margin-top: 7%;
}

.lin4{
  width: 39%;
  background: black;
  height: 2px;
  margin-bottom: 1px;
  margin-top: 7%;
}

.lin5{
  width: 25%;
  background: black;
  height: 2px;
  margin-bottom: 1px;
  margin-top: 7%;
}

.linea6{
  width: 48%;
  background: black;
  height: 2px;
  margin-bottom: 1px;
  margin-top: 7%;
}

.img-princip2{
  width: 7.1%;
  height: 7.1%;
}

.final{
  background-color: #0C0C0C;
  padding: 5%;
 
}

.fin-img1{
  width: 5%;
  height: 5%;
  float: right;
  
 
}
.imagen-final{
  display: flex;
  justify-content: center;
}

.h1{
  text-align: center;
  color: white;
}

.pfo1{
  color: white;
}


.p-final{
  text-align: center;
  color: white;
  font-style: italic;
  margin-bottom: 6%;
}

.text-final{
  display: flex;
  justify-content: center;
  align-items: center;
}

summary{
  list-style: none;
  text-decoration: underline;
  color: purple;
}

.ultima-caja{
 background-color: #ccdfdf;
 padding: 1.8%;
 border-radius: 5%;
 
}

.fin-img2{
  width: 6%;
 
}

#img-final2{ 
  display: flex;
  justify-content: flex-end;
 align-items: flex-end; 
}

/*.detalles{
  display: flex;
  justify-content: center;
}
no hace ninghun cambio de posecionar ala derecha igual que menu y al momento de tocar
 la imagen menu  se pocesiona al centro
*/
@media screen and (min-width:600px){
  body{
    background: rgb(20,3,11);
    background: -moz-linear-gradient(90deg, rgba(20,3,11,1) 23%, rgba(174,234,238,1) 49%, rgba(231,175,204,1) 59%, rgba(216,177,209,1) 62%, rgba(52,4,52,1) 75%, rgba(43,33,47,1) 95%);
    background: -webkit-linear-gradient(90deg, rgba(20,3,11,1) 23%, rgba(174,234,238,1) 49%, rgba(231,175,204,1) 59%, rgba(216,177,209,1) 62%, rgba(52,4,52,1) 75%, rgba(43,33,47,1) 95%);
    background: linear-gradient(90deg, rgba(20,3,11,1) 23%, rgba(174,234,238,1) 49%, rgba(231,175,204,1) 59%, rgba(216,177,209,1) 62%, rgba(52,4,52,1) 75%, rgba(43,33,47,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14030b",endColorstr="#2b212f",GradientType=1);
    padding: 3%;
  }
  
  .inicio{
    background: -webkit-linear-gradient(rgb(18, 19, 18), rgb(112, 5, 233),rgb(117, 119, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1%;

  }

  .linea-prin{
    width: 30%;
    height: 2px;
    background: rgb(151,7,180);
    background: -moz-linear-gradient(90deg, rgba(151,7,180,1) 0%, rgba(204,111,198,1) 0%, rgba(218,229,99,1) 13%, rgba(237,84,242,1) 26%, rgba(127,11,11,1) 33%, rgba(178,220,163,1) 40%, rgba(207,207,207,0.4593545751633987) 40%, rgba(210,122,200,1) 40%, rgba(195,227,154,1) 41%, rgba(231,193,122,1) 42%, rgba(161,173,231,1) 55%, rgba(216,134,202,1) 56%, rgba(224,148,204,1) 62%, rgba(165,225,233,1) 66%, rgba(234,167,208,1) 76%, rgba(226,187,201,1) 78%, rgba(13,48,125,1) 83%, rgba(173,235,222,1) 88%, rgba(234,185,161,1) 100%, rgba(226,207,53,0.10314542483660127) 100%);
    background: -webkit-linear-gradient(90deg, rgba(151,7,180,1) 0%, rgba(204,111,198,1) 0%, rgba(218,229,99,1) 13%, rgba(237,84,242,1) 26%, rgba(127,11,11,1) 33%, rgba(178,220,163,1) 40%, rgba(207,207,207,0.4593545751633987) 40%, rgba(210,122,200,1) 40%, rgba(195,227,154,1) 41%, rgba(231,193,122,1) 42%, rgba(161,173,231,1) 55%, rgba(216,134,202,1) 56%, rgba(224,148,204,1) 62%, rgba(165,225,233,1) 66%, rgba(234,167,208,1) 76%, rgba(226,187,201,1) 78%, rgba(13,48,125,1) 83%, rgba(173,235,222,1) 88%, rgba(234,185,161,1) 100%, rgba(226,207,53,0.10314542483660127) 100%);
    background: linear-gradient(90deg, rgba(151,7,180,1) 0%, rgba(204,111,198,1) 0%, rgba(218,229,99,1) 13%, rgba(237,84,242,1) 26%, rgba(127,11,11,1) 33%, rgba(178,220,163,1) 40%, rgba(207,207,207,0.4593545751633987) 40%, rgba(210,122,200,1) 40%, rgba(195,227,154,1) 41%, rgba(231,193,122,1) 42%, rgba(161,173,231,1) 55%, rgba(216,134,202,1) 56%, rgba(224,148,204,1) 62%, rgba(165,225,233,1) 66%, rgba(234,167,208,1) 76%, rgba(226,187,201,1) 78%, rgba(13,48,125,1) 83%, rgba(173,235,222,1) 88%, rgba(234,185,161,1) 100%, rgba(226,207,53,0.10314542483660127) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9707b4",endColorstr="#e2cf35",GradientType=1);
  }

  .inicio-p{
    color: rgb(236, 231, 235);
    font-style: oblique;
}

.principio{
  background-color: #72726f;
  padding: 2%;
}

.caja1{
  border-style: solid;
  color: rgb(59, 78, 72);
}



#encabezado{
  padding: 5%;
  width: 100%;
  background: rgb(151,7,180);
  background: -moz-linear-gradient(90deg, rgba(151,7,180,1) 0%, rgba(204,111,198,1) 28%, rgba(99,227,229,1) 39%, rgba(20,233,205,1) 39%, rgba(207,207,207,0.4593545751633987) 40%, rgba(210,122,200,1) 40%, rgba(195,227,154,1) 41%, rgba(231,193,122,1) 42%, rgba(231,161,206,1) 47%, rgba(216,134,202,1) 56%, rgba(224,148,204,1) 62%, rgba(233,165,207,1) 70%, rgba(234,167,208,1) 76%, rgba(237,177,197,1) 76%, rgba(235,182,173,1) 83%, rgba(234,185,161,1) 86%, rgba(226,207,53,0.10314542483660127) 100%);
  background: -webkit-linear-gradient(90deg, rgba(151,7,180,1) 0%, rgba(204,111,198,1) 28%, rgba(99,227,229,1) 39%, rgba(20,233,205,1) 39%, rgba(207,207,207,0.4593545751633987) 40%, rgba(210,122,200,1) 40%, rgba(195,227,154,1) 41%, rgba(231,193,122,1) 42%, rgba(231,161,206,1) 47%, rgba(216,134,202,1) 56%, rgba(224,148,204,1) 62%, rgba(233,165,207,1) 70%, rgba(234,167,208,1) 76%, rgba(237,177,197,1) 76%, rgba(235,182,173,1) 83%, rgba(234,185,161,1) 86%, rgba(226,207,53,0.10314542483660127) 100%);
  background: linear-gradient(90deg, rgba(151,7,180,1) 0%, rgba(204,111,198,1) 28%, rgba(99,227,229,1) 39%, rgba(20,233,205,1) 39%, rgba(207,207,207,0.4593545751633987) 40%, rgba(210,122,200,1) 40%, rgba(195,227,154,1) 41%, rgba(231,193,122,1) 42%, rgba(231,161,206,1) 47%, rgba(216,134,202,1) 56%, rgba(224,148,204,1) 62%, rgba(233,165,207,1) 70%, rgba(234,167,208,1) 76%, rgba(237,177,197,1) 76%, rgba(235,182,173,1) 83%, rgba(234,185,161,1) 86%, rgba(226,207,53,0.10314542483660127) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9707b4",endColorstr="#e2cf35",GradientType=1);
}


p{
  font-style: italic;
  font-size: small;
}


.aristoteles{
  width: 50%;
  height: 40%;
  border-radius: 35%;
}

.img1{
  width: 30%;
  height: 20%;
  border-radius: 12%;

}


#contenedor1{
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 15%;
  padding: 10%;
  border: solid 3px;

}

#contenedor3{
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 15%;
  padding: 10%;
  border: solid 3px;

}

.platon{
  width: 50%;
  height: 30%;
  border-radius: 15%;
}

}

.napoleon{
  width: 30%;
  height: 20%;
  border-radius: 15%;
}




@media screen and (min-width:1200px){
  body{
    background: rgb(177,34,195);
background: -moz-linear-gradient(0deg, rgba(177,34,195,1) 0%, rgba(57,198,199,1) 51%, rgba(138,34,118,0.4066001400560224) 100%);
background: -webkit-linear-gradient(0deg, rgba(177,34,195,1) 0%, rgba(57,198,199,1) 51%, rgba(138,34,118,0.4066001400560224) 100%);
background: linear-gradient(0deg, rgba(177,34,195,1) 0%, rgba(57,198,199,1) 51%, rgba(138,34,118,0.4066001400560224) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b122c3",endColorstr="#8a2276",GradientType=1);
  }

  
  .inicio{
    background: -webkit-linear-gradient(rgb(18, 19, 18), rgba(146, 93, 13, 0.877),rgb(31, 28, 170));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1%;

  }

  #encabezado{
    padding: 5%;
    width: 100%;
    background: rgb(58,180,93);
    background: -moz-linear-gradient(90deg, rgba(58,180,93,1) 0%, rgba(29,86,84,1) 52%, rgba(3,0,0,0.8253676470588236) 100%);
    background: -webkit-linear-gradient(90deg, rgba(58,180,93,1) 0%, rgba(29,86,84,1) 52%, rgba(3,0,0,0.8253676470588236) 100%);
    background: linear-gradient(90deg, rgba(58,180,93,1) 0%, rgba(29,86,84,1) 52%, rgba(3,0,0,0.8253676470588236) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ab45d",endColorstr="#030000",GradientType=1);
}

.principio{
  background: rgb(63,94,251);
background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(89,91,231,1) 14%, rgba(87,209,189,1) 29%, rgba(160,168,136,1) 50%, rgba(252,70,107,0.5914740896358543) 100%);
background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(89,91,231,1) 14%, rgba(87,209,189,1) 29%, rgba(160,168,136,1) 50%, rgba(252,70,107,0.5914740896358543) 100%);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(89,91,231,1) 14%, rgba(87,209,189,1) 29%, rgba(160,168,136,1) 50%, rgba(252,70,107,0.5914740896358543) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
  padding: 2%;
}

.final{
  background-color: #f0e9e9;
  padding: 1%;
 
}

.p-final{
  text-align: center;
  color: rgb(20, 20, 20);
  font-style: italic;
  margin-bottom: 6%;
  font-size: x-large;
}
summary{
  color:rgb(82, 212, 158);
  list-style: none;
  text-decoration: underline;
}

.inicio-p{
  color: rgb(54, 21, 48);
  font-style: unset;
  text-align: center;
}


.linea-prin{
  width: 30%;
  height: 12px;
  background: rgb(162,91,44);
background: -moz-linear-gradient(90deg, rgba(162,91,44,1) 0%, rgba(204,132,111,1) 0%, rgba(99,202,229,1) 13%, rgba(237,84,242,1) 26%, rgba(11,108,127,0.6456290849673203) 33%, rgba(178,220,163,1) 40%, rgba(157,124,154,0.4593545751633987) 40%, rgba(210,122,200,1) 40%, rgba(195,227,154,1) 41%, rgba(231,226,122,1) 42%, rgba(161,173,231,1) 55%, rgba(216,134,202,1) 56%, rgba(224,148,204,1) 62%, rgba(165,225,233,1) 66%, rgba(234,167,208,1) 76%, rgba(226,187,201,1) 78%, rgba(13,48,125,1) 83%, rgba(173,235,222,1) 88%, rgba(234,185,161,1) 100%, rgba(226,207,53,0.10314542483660127) 100%);
background: -webkit-linear-gradient(90deg, rgba(162,91,44,1) 0%, rgba(204,132,111,1) 0%, rgba(99,202,229,1) 13%, rgba(237,84,242,1) 26%, rgba(11,108,127,0.6456290849673203) 33%, rgba(178,220,163,1) 40%, rgba(157,124,154,0.4593545751633987) 40%, rgba(210,122,200,1) 40%, rgba(195,227,154,1) 41%, rgba(231,226,122,1) 42%, rgba(161,173,231,1) 55%, rgba(216,134,202,1) 56%, rgba(224,148,204,1) 62%, rgba(165,225,233,1) 66%, rgba(234,167,208,1) 76%, rgba(226,187,201,1) 78%, rgba(13,48,125,1) 83%, rgba(173,235,222,1) 88%, rgba(234,185,161,1) 100%, rgba(226,207,53,0.10314542483660127) 100%);
background: linear-gradient(90deg, rgba(162,91,44,1) 0%, rgba(204,132,111,1) 0%, rgba(99,202,229,1) 13%, rgba(237,84,242,1) 26%, rgba(11,108,127,0.6456290849673203) 33%, rgba(178,220,163,1) 40%, rgba(157,124,154,0.4593545751633987) 40%, rgba(210,122,200,1) 40%, rgba(195,227,154,1) 41%, rgba(231,226,122,1) 42%, rgba(161,173,231,1) 55%, rgba(216,134,202,1) 56%, rgba(224,148,204,1) 62%, rgba(165,225,233,1) 66%, rgba(234,167,208,1) 76%, rgba(226,187,201,1) 78%, rgba(13,48,125,1) 83%, rgba(173,235,222,1) 88%, rgba(234,185,161,1) 100%, rgba(226,207,53,0.10314542483660127) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a25b2c",endColorstr="#e2cf35",GradientType=1);
}

.h1{
  background: -webkit-linear-gradient(rgb(18, 19, 18), rgb(245, 110, 173),rgb(131, 226, 22));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}

